.contact-us {
  padding: 40px 0;
}

.form-box {
    padding: 30px;
    border-radius: 4px;
    border: 1px solid #EEEEEE;
    max-width: 575px;
    margin: 0 auto;
  }

  .form-box.customer_signup {
    max-width: 992px;
  }
  
  .account-details {
    padding: 25px;
    border-radius: 4px;
    border: 1px solid #EEEEEE;
    max-width: 575px;
    margin: 0 auto;
  }


  
  .account-auth .customer_login .save-forgot-password {
    display: flex;
    justify-content: space-between;
  }
  
  .submit-activate {
    text-align: center;
  }
  
  #recover #recover_customer_password {
    display: none;
  }
  
  #recover:target #recover_customer_password {
    display: block;
  }
  
  #recover:target #customer_login {
    display: none;
  }
  
  .main-addresses .form-check-input {
    margin-top: 0.5em;
  }
  
  
  @media (max-width: 575.98px) {
    .form-box {
      padding: 25px;
    }
    .form-box .btn-submit {
      width: 100%;
    }
    .form-box .btn-decline  {
      margin-top: 1rem;
    }
    .contact-us {
      padding: 20px 0;
    }
  }
  
  
  