.template-footer-six {
  position: relative;
  z-index: 1;
}

.template-footer-six .single-footer-widget {
  margin-bottom: 25px;
}

.template-footer-six .single-footer-widget .logo {
  display: inline-block;
  margin-bottom: 15px;
}

.template-footer-six .single-footer-widget h3 {
  font-size: 22px;
  margin-bottom: 30px;
}

.template-footer-six .single-footer-widget .footer-contact-info {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.template-footer-six .single-footer-widget .footer-contact-info li {
  padding-left: 48px;
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

.template-footer-six .single-footer-widget .footer-contact-info li:last-child {
  margin-bottom: 0;
}

.template-footer-six .single-footer-widget .footer-contact-info li i {
  color: var(--greenColor2);
  position: absolute;
  font-size: 35px;
  left: 0;
  top: 0;
}

.template-footer-six .single-footer-widget .footer-contact-info li span {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: normal;
}

.template-footer-six .single-footer-widget .footer-contact-info li a {
  display: inline-block;
  color: var(--blackColor);
}

.template-footer-six .single-footer-widget .footer-contact-info li a:hover {
  color: var(--greenColor2);
}

.template-footer-six .single-footer-widget .social-links {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 20px;
}

.template-footer-six .single-footer-widget .social-links li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.template-footer-six .single-footer-widget .social-links li a {
  width: 45px;
  height: 45px;
  display: block;
  font-size: 18px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  color: var(--greenColor2);
  background-color: var(--whiteColor);
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.14);
}

.template-footer-six .single-footer-widget .social-links li a i {
  left: 0;
  right: 0;
  top: 50%;
  line-height: 1;
  margin-top: 1px;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.template-footer-six .single-footer-widget .social-links li a:hover {
  background-color: var(--greenColor2);
  color: var(--whiteColor);
}

.template-footer-six .single-footer-widget .social-links li:first-child {
  margin-left: 0;
}

.template-footer-six .single-footer-widget .social-links li:last-child {
  margin-right: 0;
}

.template-footer-six .single-footer-widget.pl-3 {
  padding-left: 3rem;
}

.template-footer-six .single-footer-widget .box {
  padding: 30px;
  border-radius: 10px;
  background-color: var(--whiteColor);
  -webkit-box-shadow: 0px 2px 52px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 52px rgba(0, 0, 0, 0.12);
}

.template-footer-six .single-footer-widget .box form .input-newsletter {
  background-color: var(--whiteColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border: 1px solid #ebebeb;
  color: var(--blackColor);
  border-radius: 6px;
  display: block;
  height: 55px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-weight: 400;
}

.template-footer-six .single-footer-widget .box form .input-newsletter::-webkit-input-placeholder {
  color: var(--paragraphColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.template-footer-six .single-footer-widget .box form .input-newsletter:-ms-input-placeholder {
  color: var(--paragraphColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.template-footer-six .single-footer-widget .box form .input-newsletter::-ms-input-placeholder {
  color: var(--paragraphColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.template-footer-six .single-footer-widget .box form .input-newsletter::placeholder {
  color: var(--paragraphColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.template-footer-six .single-footer-widget .box form .input-newsletter:focus {
  border-color: var(--greenColor2);
}

.template-footer-six .single-footer-widget .box form .input-newsletter:focus::-webkit-input-placeholder {
  color: transparent;
}

.template-footer-six .single-footer-widget .box form .input-newsletter:focus:-ms-input-placeholder {
  color: transparent;
}

.template-footer-six .single-footer-widget .box form .input-newsletter:focus::-ms-input-placeholder {
  color: transparent;
}

.template-footer-six .single-footer-widget .box form .input-newsletter:focus::placeholder {
  color: transparent;
}

.template-footer-six .single-footer-widget .box form .btn-style-one {
  width: 100%;
  display: block;
  margin-top: 15px;
}

.template-footer-six .single-footer-widget .box form #validator-newsletter {
  font-size: 15px;
}

.template-footer-six .single-footer-widget .box form #validator-newsletter.validation-danger {
  color: red;
  margin-top: 12px;
}

.template-footer-six .single-footer-widget .box form #validator-newsletter.validation-success {
  color: #42ba96;
  margin-top: 12px;
}

.template-footer-six .copyright-area {
  border-top: 1px solid #E9E9E9;
  text-align: center;
  margin-top: 75px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.template-footer-six .copyright-area p {
  font-size: 15.5px;
}

.template-footer-six .copyright-area p a {
  color: var(--greenColor2);
}

.template-footer-six .copyright-area p a:hover {
  color: var(--greenColor2);
}



/* Max width 767px */
@media only screen and (max-width: 767px) {

  .template-footer-six .single-footer-widget.pl-3 {
    padding-left: 0;
  }

  .template-footer-six .single-footer-widget h3 {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .template-footer-six .single-footer-widget .social-links {
    margin-top: 15px;
  }

  .template-footer-six .single-footer-widget .social-links li a {
    width: 40px;
    height: 40px;
    font-size: 15px;
  }

  .template-footer-six .single-footer-widget .box {
    padding: 20px;
  }

  .template-footer-six .single-footer-widget .box form .input-newsletter {
    height: 50px;
    font-size: 14px;
    padding-left: 17px;
    padding-right: 17px;
  }

  .template-footer-six .single-footer-widget .footer-contact-info li {
    padding-left: 40px;
    margin-bottom: 15px;
    font-size: 14px;
  }

  .template-footer-six .single-footer-widget .footer-contact-info li span {
    margin-bottom: 7px;
    font-size: 13px;
  }

  .template-footer-six .single-footer-widget .footer-contact-info li i {
    font-size: 28px;
  }

  .template-footer-six .copyright-area {
    margin-top: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .template-footer-six .copyright-area p {
    font-size: 14px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .template-footer-six .single-footer-widget h3 {
    font-size: 19px;
    margin-bottom: 20px;
  }

  .template-footer-six .single-footer-widget .social-links li a {
    width: 40px;
    height: 40px;
    font-size: 15px;
  }

  .template-footer-six .single-footer-widget .box {
    padding: 20px;
  }

  .template-footer-six .single-footer-widget .box form .input-newsletter {
    height: 50px;
    font-size: 14px;
    padding-left: 17px;
    padding-right: 17px;
  }

  .template-footer-six .single-footer-widget .footer-contact-info li {
    padding-left: 40px;
    margin-bottom: 20px;
    font-size: 15px;
  }

  .template-footer-six .single-footer-widget .footer-contact-info li i {
    font-size: 30px;
  }

  .template-footer-six .single-footer-widget .footer-contact-info li span {
    font-size: 15px;
  }

  .template-footer-six .copyright-area {
    margin-top: 55px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .template-footer-six .copyright-area p {
    font-size: 14px;
  }
}