.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 2.5rem;
    z-index: 999;
    display: none;
    overflow: auto;
    background-color: #FFF;
}

.sidebar::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #DDD;
    border-radius: 20px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
}

html[lang="ar"] .sidebar {
    left: auto;
    right: 0;
}

.sidebar .remove-sidebar {
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}


.sidebar-mobilemenu .sidebar-mobilemenu-items {
    padding: 0;
}

.sidebar-mobilemenu .sidebar-mobilemenu-items .accordion .accordion-item {
    background-color: transparent;
    border: none;
}

.sidebar-mobilemenu .sidebar-mobilemenu-items .accordion-button {
    padding: 0;
    font-size: 20px;
    background-color: transparent;
    box-shadow: none;
}

.sidebar-mobilemenu .sidebar-mobilemenu-items .accordion-button::after {
    height: 1.5rem;
    width: 1.5rem;
}

.sidebar-mobilemenu .sidebar-mobilemenu-items .accordion-button:focus {
    border-color: none;
    box-shadow: none;

}

.sidebar-mobilemenu .sidebar-mobilemenu-items .accordion .accordion-body {
    padding: 0;
}

.sidebar-mobilemenu .sidebar-mobilemenu-items .item .menu-link {
    font-size: 20px;
}

.sidebar .account-actions .account-action-login-signup a {
    color: #E57C23;
}

.sidebar .account-actions .account-action-logout a {
    color: #DB0000;
}

.sidebar .remove-sidebar svg {
    color: #0D0D0D;
    height: 30px;
    width: 30px;
    transition: all 0.3s ease-in-out
}

.sidebar.sidebar-search .search-box-sidebar .remove-sidebar svg:hover {
    color: #000;
}

.sidebar .basma-logo {
    display: flex;
    justify-content: center;
  }

.sidebar .basma-logo .basma-logo-text {
    border-radius: 4px;
    background-color: #02546466 !important; 
    color: #025464 !important;
    padding: 14px 20px;
    margin: 0 auto;
    font-weight: bold;
}

.sidebar .basma-logo img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.sidebar.sidebar-search .search-box-sidebar form .search-input {
    border: none;
    outline: none;
    font-size: 24px;
    background-color: #FFFFFF66;
    padding: 0 15px;
}


.sidebar.sidebar-search .search-box-sidebar form .search-input::placeholder {
    font-size: 24px;
}

.sidebar.sidebar-search .sidebar__search-items .sidebar__search-item a {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}


@media (max-width: 575.98px) {
    .sidebar-mobilemenu .sidebar-mobilemenu-items .item .menu-link,
    .sidebar .remove-sidebar {
        font-size: 18px;
    }
}